fastapi==0.103.1
uvicorn==0.23.2
pydantic==1.10.12
pydantic-settings>=2.0.0
pymongo==4.6.1
celery==5.3.4
redis==5.0.1
jinja2==3.1.2
httpx>=0.24.1
python-jose==3.3.0
pyjwt>=2.10.1
python-multipart==0.0.6
email-validator==2.0.0
aiosmtplib==2.0.2
python-telegram-bot>=13.0
python-dotenv==1.0.0
