.reset-password-form-container {
  width: 100%;
}

.reset-password-form-content {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.reset-password-form-header {
  text-align: center;
  margin-bottom: 1rem;
}

.reset-password-form {
  width: 100%;
}

.reset-password-form-button {
  height: 40px;
  font-size: 16px;
}

.reset-password-form-error {
  margin-bottom: 16px;
  background-color: #fff2f0;
  padding: 8px 12px;
  border: 1px solid #ffccc7;
  border-radius: 4px;
}